<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% block extrahead %}{% endblock %}
</head>
<body>
    <header>
        <!-- Header content goes here -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>

    {% block extrabody %}{% endblock %}
</body>
</html>
